*{
    background-color: black;
    color: white;
}

.heading{
    border: 1px green solid;
    width: 100vw;
    margin:0px;
    box-sizing: border-box;
    padding: 30px 20px;
    font-size: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section{
    border: 2px yellow solid;
    margin: 5vh;
    width: 90vw;
    height: 20vh;
    display: flex;
}